<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='404.css') }}"> {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title>404</title>
  {% endif %}
</head>
<div id='error-page'>
  <div id='error-inner'>
    <h1> I told you to text your mom</h1>
    <div class="pesan-eror">404</div>
    <p class="balik-home">
      <a href=" {{ url_for('login') }}">Back to Home, your handsome dad here!</a>
    </p>
    <br/>
  </div>
</div>

</html>